<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.12.10/dist/full.min.css" rel="stylesheet" type="text/css" />
    <title>chatPage</title>
</head>
<body>
    <div id="app" class="w-full h-screen flex flex-col justify-between bg-white text-black">
      <div class="h-3/4 overflow-y-scroll">
        <div v-for="message in messages" v-if="recipientName === message.recipientname">
            <div class="chat chat-start" v-if="message.sender !==user_id && recipientName === message.recipientname">
                <div class="chat-header">
                  {{recipientName}}
                  <time class="text-xs opacity-50">{{formatDate(message.timestamp)}}</time>
                </div>
                <div class="chat-bubble bg-red-600 text-white ">{{message.message}}</div>
              </div>
            <div class="chat chat-end" v-if="message.sender == user_id">
                <div class="chat-header">
                    {{senderName}}
                    <time class="text-xs opacity-50">{{formatDate(message.timestamp)}}</time>
                </div>
                <div class="chat-bubble bg-red-500 text-white">{{message.message}}</div>
              </div>
        </div>
      </div>
        <form class="flex items-center" @submit.prevent="sendMessage">
            <textarea class="w-full bg-transparent border-2 border-black resize-none py-2 rounded-lg" v-model="newMessage"></textarea>
            <button class="btn bg-red-500 text-white py-2">Send</button>
        </form>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
<script type="module">
    import { initializeApp } from "https://www.gstatic.com/firebasejs/10.12.3/firebase-app.js";
    import { getDatabase,ref,push,onValue,runTransaction }  from "https://www.gstatic.com/firebasejs/10.12.3/firebase-database.js";
    const firebaseConfig = {
  apiKey: "AIzaSyBCccTmjpoye4VQD9Z-xRgRunJMY23zrXw",
  authDomain: "fir-chat-a7a07.firebaseapp.com",
  projectId: "fir-chat-a7a07",
  storageBucket: "fir-chat-a7a07.appspot.com",
  messagingSenderId: "1035459558686",
  appId: "1:1035459558686:web:0d0863a4d18c8485ea9d0f"
};
const app  = initializeApp(firebaseConfig)
const db = getDatabase(app)

    new Vue({
        el: '#app',
        data(){
            return {
                newMessage:'',
            messages: <%- JSON.stringify(messages) %>,
            recipientName: <%-JSON.stringify(userOneName) %>,
            senderName: <%-JSON.stringify(userSenderName) %>,
            recipientId: <%-JSON.stringify(recieverId) %>,
            user_id: <%- JSON.stringify(userid) %>,
            }
        },
        methods:{
            async sendMessage(){
                const counterRef = ref(db,'counters/messageNumber')
                const messageNumber = await runTransaction(counterRef,(currentNumber)=>{
                    if(currentNumber === null){
                        return 1;
                    }else{
                        return currentNumber + 1;
                    }
                })
                const data = {
                    message: this.newMessage,
                    sender:this.user_id,
                    recipientname:this.recipientName,
                    receiver:this.recipientId,
                    messageNumber:messageNumber.snapshot.val(),
                    timestamp:new Date().toISOString()
                }
                push(ref(db,'messages'),data)
                this.newMessage = ''
            },
            formatDate(dateString){
                const options = {
                    year: 'numeric',
                    month:'short',
                    day:'numeric',
                    hour: '2-digit',
                    minute:'2-digit',
                    second:'2-digit'
                }
                const date = new Date(dateString)
                return new Intl.DateTimeFormat(navigator.language,options).format(date)
            }
        },
        created(){
     
        onValue(ref(db,'messages'),(snapshot)=>{
            const msgObj = snapshot.val()
            this.messages = Object.values(msgObj)
        })
    }
    })
</script>
</body>

</html>